<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <div class="login-g das">
        Class Genie
      </div>
  </ion-title>
    <ion-buttons end>
     <a ion-button icon-only (click)="openPopover($event)">
      <ion-icon name="more"></ion-icon>
    </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content >
<div class="back-c">
<!-- content -->
<div class="head-con1">
<h3>Message</h3>
 </div>

<div class="m-school  list-b">
<!--listing code here -->
<div class="list-margin">
<div class="add-c  content-p">
  <div>
  <ion-grid>
   <ion-list *ngFor="let details of parentDetails">
    <ion-item *ngIf="details.teacher_info != undefined ">      
              <img ng-src="../assets/imgs/chat_user.png">              
              <h2 (click) = "setTeacherDetail(details.teacher_info.name,details.class_info.teacher_ac_no,details.class_id)">{{details.teacher_info.name}}</h2> 
              {{details.class_info.class_name}}                         
    </ion-item>
  </ion-list>
</ion-grid>
</div> 
</div>
</div>  
</div>
<!-- content end-->
</div>
</ion-content>